{% extends 'adminbase.html.twig' %}

{% block title %}Konu Page{% endblock %}

{% block body %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Konu Listesi</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Konu</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                {{ include('admin/messages.html.twig') }}
                <div class="card-header">
                    <h3 class="card-title">Konu Liste Tablosu</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="card-body">


                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Yazar</th>
                            <th>Image</th>
                            <th>Menu_id</th>
                            <th>Url</th>
                            <th>Status</th>
                            <th>Göster</th>
                            <th>Düzenle</th>
                            <th>Sil</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for konu in konus %}
                            <tr>
                                <td>{{ konu.id }}</td>
                                <td>{{ konu.title }}</td>
                                <td>{{ konu.yazar }}</td>
                                <td><a href ="javascript: openWin('{{ path('admin_konu_iedit', {'id': konu.id}) }}','','toolbar=no,location=no,directories=no,status=no,top=100,left=200,menuBar=no,scrollBars=no,resizable=no,width=1050,height=720');">
                                    {% if konu.image ==null %}
                                        <img src="{{ asset('images') }}/blog/bos.png" height="40">
                                    {% else %}
                                        <img src="{{ asset('images') }}/blog/{{ konu.image }}" height="40">
                                    {% endif %} </a>
                                </td>
                                <td>{{ konu.menuId }}</td>
                                <td>{{ konu.url }}</td>
                                <td>{{ konu.status }}</td>
                                <td>
                                    <a href="{{ path('admin_konu_show', {'id': konu.id}) }}" class="btn btn-block bg-gradient-success btn-sm">Göster</a>
                                </td><td>
                                    <a href="{{ path('admin_konu_edit', {'id': konu.id}) }}" class="btn btn-block bg-gradient-success btn-sm">Düzenle</a>
                                </td>
                                <td>
                                    {{ include('admin/konu/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="10">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <a href="{{ path('admin_konu_new') }}" class="btn btn-block btn-success btn-sm">Yeni Konu Ekle</a>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    Footer
                </div>
                <!-- /.card-footer-->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
{% endblock %}

